/* En tu archivo CSS o SCSS */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.example-card {
  width: 300px;
  max-width: 400px;
  border: 1px solid #ccc; /* Borde para el relieve */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el relieve */
  transition: box-shadow 0.3s ease; /* Agrega una transición suave a la sombra */
  background-image: linear-gradient(243deg, #80aae7, #7fc4ee, #7bdff4, #73fafa);
  padding: 0; /* Elimina el relleno predeterminado de la lista */
  list-style: none; /* Elimina la numeración de la lista */
  counter-reset: note-counter; /* Reinicia el contador de lista */
}

.example-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra en el hover */
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  height: 150px; /* Ajusta según tus necesidades */
}
/* En tu archivo CSS o SCSS */
mat-card-title {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card-title h1 {
  margin: 0;
}

mat-card-content {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card-content h1 {
  margin: 0;
}

/* En tu archivo CSS o SCSS */
/* En tu archivo CSS o SCSS */
.form-control {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  resize: none; /* Evitar el cambio de tamaño manual por parte del usuario */
  height: 40px; /* Altura inicial del input, ajusta según sea necesario */
  min-height: 40px; /* Altura mínima del input, ajusta según sea necesario */
  overflow-y: hidden; /* Ocultar la barra de desplazamiento vertical */
}

:host {
  display: block;
  height: 100%;
  background-image: linear-gradient(81deg, #3f18e8, #7158e8, #8e8be6, #a2bee3);
}

.note-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; /* Puedes ajustar el margen según tus preferencias */
}

.icon-container {
  display: flex;
  gap: 8px; /* Espaciado entre los íconos y el texto de la nota */
}




.note-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; /* Puedes ajustar el margen según tus preferencias */
  counter-increment: note-counter; /* Incrementa el contador de lista en cada elemento */
}

.note-item::before {
  content: counter(note-counter); /* Muestra el número de lista */
  margin-right: 8px; /* Espacio entre el número y el contenido */
}

